@model List<Product>

@{
    ViewData["Title"] = "Test Page";
}


<h1>In Stock items</h1>

@*
    Display a table here which shows the products with any Available stock
    - use the bootstrap table styling
    - Available stock = Total Stock - Reserved Stock
    - Columns shown:
        - action => with a link to a placeholder product detail page. 
        - Name
        - Total Amount in stock
        - Available stock (this should be orange if < 10 and red < zero)

*@

<div>
    <div class="row">        
        <div class="col-3">
            <strong>Product</strong>
        </div>   
        <div class="col-3">
            <strong>Name</strong>
        </div>
        <div class="col-3">
            <strong>InStockQuantity</strong>
        </div>        
        <div class="col-3">
            <strong>Available Stock</strong>
        </div>          
    </div>
    @foreach (var product in Model)
    {
        int qty = @product.InStockQuantity - @product.ReservedQuantity;
        <div class="row">        
            <div class="col-3">
                <a asp-action="ProductPage" asp-route-id="@product.Id">More Info</a>
            </div>   
            <div class="col-3">
                @product.Name
            </div>
            <div class="col-3">
                @product.InStockQuantity
            </div>
            <div class="col-3">                                
                <span style="@(qty < 0 ? "color:Red": qty < 10 ? "color:Orange": "")">
                     @qty
                </span>
            </div>
               
        </div>
    }
</div>
        